<% const title = (pageId === 'home') ? json.siteInfo.name : json.pages[pageId].name + json.siteInfo.name%>
<% const description = json.pages[pageId].description %>

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">

  <!-- OGP -->

  <!-- Fonts -->

  <!-- リセットCSS -->
  <link rel="stylesheet" href="https://unpkg.com/ress@4.0.0/dist/ress.min.css">

  <!-- CSS-->
  <link rel="stylesheet" href="<%= baseUrl %>assets/css/style.css">

  <!-- ファビコン -->

</head>
<body>