// dir
$img-path: "../images/";

//color（どれ使うか悩み中）
$color-primary: #000;
$color-secondary: #000;
$color-tertiary: #000;
$color-quaternary: #000;

$color-base01: #000;
$color-base02: #000;

$color: #000;
$color-background: #000;
$color-title: #000;
$color-text: #000;
$color-border: #000;
$color-accent: #000;
$color-link: #000;
$color-hover: #000;

$color-black: #000;
$color-white: #fff;

// font-family
$f-family-primary: "Noto Sans JP", sans-serif;
$f-family-secondary: "Noto Sans JP", sans-serif;
$f-family-tertiary: system-ui, sans-serif;
$f-family-quaternary: system-ui, sans-serif;

$f-family-heading: "Noto Sans JP", sans-serif;
$f-family-body: "Noto Sans JP", sans-serif;

$f-family-NotoSans: "Noto Sans JP", sans-serif;

// font-weight
$f-weight-thin: 100;
$f-weight-ultraLight: 100;
$f-weight-extraLight: 200;
$f-weight-light: 300;
$f-weight-regular: 400;
$f-weight-normal: 400;
$f-weight-semiLight: 400;
$f-weight-medium: 500;
$f-weight-semiBold: 600;
$f-weight-demiBold: 600;
$f-weight-bold: 700;
$f-weight-extraBold: 800;
$f-weight-ultraBold: 900;
$f-weight-black: 900;
$f-weight-heavy: 900;

$f-weight-w1: 100;
$f-weight-w2: 200;
$f-weight-w3: 300;
$f-weight-w4: 400;
$f-weight-w5: 500;
$f-weight-w6: 600;
$f-weight-w7: 700;
$f-weight-w8: 800;
$f-weight-w9: 900;
