<% let pageId = 'home'; %>

<%- include('../common/_header.ejs', { pageId: pageId }) %>

  <h2>Main Content</h2>
  <a href="#">
    <img src="./assets/images/sample.jpeg" alt="sample">
  </a>

<%- include('../common/_footer.ejs') %>
<% console.log(jsonData) %>